.root {
  min-height: var(--page-background-min-height);
  width: var(--page-background-min-width);
  background-color: var(--page-background-color);
  color: var(--page-text-color);
  display: flex;
  flex-direction: column;
}

.main {
  font-family: var(--body-font-family);
  /* If we don't set padding-bottom to a non-zero value here,
   * the background will cut off at the bottom of the last
   * visible element/component, before its padding or margin.
   */
  padding-bottom: 0.1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 1.5rem 1.5rem 3.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--title-font-family);
  margin: 0 0 0.5rem;
}

.hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  margin: 0 0 1.5rem;
}

@media (min-width: 601px) {
  .content {
    margin: 1.5rem 2rem 3rem;
  }
}

@media (min-width: 769px) {
  .content {
    margin: 1.5rem 3rem 0;
  }
}

@media (min-width: 1025px) {
  .content {
    margin: 2rem 4.5rem 1.5rem;
  }
}

@media (min-width: 1201px) {
  .content {
    margin: 2.5rem 6rem 3rem;
  }
}

@media (min-width: 1405px) {
  .content {
    margin: 4.5rem 10rem 7rem;
  }
}
