.root {
  width: calc(320px - 48px);
  height: 128px;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--body-font-family);
  font-size: 1.5em;
  display: grid;
  text-align: center;
  align-content: center;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 12px;
}

.root:hover {
  text-decoration: underline;
  background-color: var(--hover-color);
  color: var(--text-color);
}

@media (min-width: 481px) {
  .root {
    width: 320px;
  }
}
