.root {
  display: grid;
  margin: 0 auto;
  row-gap: 16px;
  align-self: center;
}

.card {
  justify-self: center;
}

@media (min-width: 769px) {
  .root {
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
  }
}

@media (min-width: 1201px) {
  .root {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
    align-content: space-around;
  }
}
