.root {
  margin: 0;
  width: 100%;
  border-bottom: 0;
}

.header {
  height: 0;
  min-height: 0;
  background-color: var(--background-color);
  transition-property: height;
  transition-duration: 1s;
  overflow-y: hidden;
  border-bottom: none;
}

.headerVisible {
  composes: header;
  height: 61px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.h1 {
  margin: 0;
  font-family: var(--title-font-family);
  line-height: 1.25rem;
}

.headerLink {
  display: none;
}

.headerLinkMobile {
  display: inline-block;
  color: var(--text-color);
  font-size: 2rem;
}

.headerLinkMobile:hover {
  color: var(--hover-color);
}

.userInfo {
  display: inline-block;
  align-content: center;
  color: var(--text-color);
}

.userInfo:hover {
  color: var(--hover-color);
}

.pullTab {
  margin-left: 12px;
  width: 20px;
  display: inline-block;
  background-color: rgb(0 0 0 / 75%);
  padding: 4px 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.chevron {
  color: var(--text-color);
}

.pullTab:hover > .chevron {
  color: var(--hover-color);
}

@media (min-width: 601px) {
  .headerVisible {
    height: 78px;
  }

  .h1 {
    line-height: 1.25rem;
    align-content: center;
  }

  .headerLink {
    display: inline-block;
    font-size: 1.5rem;
    line-height: var(--title-line-height);
    color: var(--text-color);
    text-decoration: none;
  }

  .headerLink:hover {
    color: var(--hover-color);
  }

  .headerLinkMobile {
    display: none;
  }
}

@media (prefers-reduced-motion) {
  .header,
  .headerVisible {
    transition: none;
  }
}

:global([data-reduced-motion='true']) .header,
:global([data-reduced-motion='true']) .headerVisible {
  transition: none;
}
